@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow-custom {
  text-shadow: 4px 4px #000;
  -webkit-text-stroke: 3px #000;
}

.font-archivo {
  font-family: 'Archivo', 'sans-serif';
}

